{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dane kontaktu</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Imię</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Nazwisko</th>
            <td>{{ user.surname }}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{ user.description }}</td>
        </tr>
        <tr>
            {% if phones|length != 0 %}
                <th>Telefony</th>
                {% for phone in phones %}
                    <td>{{ phone.phoneNr }}<br>{{ phone.type }}</td>
                {% endfor %}
            {% endif %}
        </tr>
        <tr>
            {% if mails|length != 0 %}
                <th>E-mail</th>
                {% for mail in mails %}
                    <td>{{ mail.mail }}<br>{{ mail.type }}</td>
                {% endfor %}
            {% endif %}
        </tr>
        <tr>
            {% if address|length != 0 %}
                <th>Adres</th>
                {% for address in address %}
                    <td>{{ address.city }}<br>ul.{{ address.street }}{{ address.houseNr }}/{{ address.appartmentNr }}
                    </td>
                {% endfor %}
            {% endif %}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('userShowAll') }}">
        <button type="button" class="btn btn-info">Powrót</button>
    </a>

    <a href="{{ path('userEdit', { 'id': user.id }) }}">
        <button type="button" class="btn btn-success">Edytuj</button>
    </a>

    <a href="{{ path('userDelete', { 'id': user.id }) }}">
        <button type="button" class="btn btn-danger">Usuń</button>
    </a>

{% endblock %}